body {

    /* background-color: gray; */

}



#saveBtn {

    float: right;

}
#product-list{
    
    display: flex;
    flex-direction: column;
    flex:1;
    list-style: none;
    margin-top: 20px;
  
}
#product-list > .product:nth-child(odd){
    background-color: rgb(120, 186, 248);
    
}
/* #product-list > li:first-child(){
    text-align: center;
} */
.product{
    background-color: rgb(188, 213, 236);
    height: 100px;
}